.header {
    padding: 30px 0;
}

.cart-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-amount {
    position: absolute;
    top: -10px;
    right: -3px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #165B33;
    font-size: 12px;
    font-weight: 700;
    padding: 3px, 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
