.ListItem {
    max-width: 100%;
    border-radius: 7px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 16px;
    margin: 16px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ListItem__heading {
    width: 16%;
    color: #165B33;
    font-size: 20px;
    font-weight: 700;
    margin: 0 8px;
}

.ListItem__subheading {
    width: 16%;
    color: #165B33;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 8px;
}

.ListItem__price {
    width: 16%;
    font-size: 20px;
    font-weight: bold;
    color: #BB2528;
    margin: 0 8px;
}

.ListItem__count-wrapper {
    width: 16%;
}

.ListItem__count {
    background-color:  #BB2528;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}


@media only screen and (max-width: 600px) {

    .List__heading {
        text-align: center;
        margin-bottom: 2px;
    }
    
    .List__subheading {
        text-align: center;
        margin-bottom: 2px;
    }

    .List__purchase-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}