.Card {
    max-width: 300px;
    border-radius: 7px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 16px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card__image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.Card__image {
    width: 100%;
    border-radius: 7px;
    position: absolute;
    left: 0;
    top: 0;
}

.Card__description-wrapper {
    margin-bottom: 8px;
}

.Card__heading {
    color: #165B33;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4px;
}

.Card__subheading {
    color: #146B3A;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 4px;
    letter-spacing: 0.2em;
}

.Card__paragraph {
    color: #000000;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 8px;
}

.Card__purchase-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Card__price {
    font-size: 32px;
    font-weight: bold;
    color: #BB2528;
}

@media only screen and (max-width: 600px) {

    .Card__heading {
        text-align: center;
        margin-bottom: 2px;
    }
    
    .Card__subheading {
        text-align: center;
        margin-bottom: 2px;
    }

    .Card__purchase-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
